.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 40px;
	margin-top: 100px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 5px;
}

h1 {
	text-align: center;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	font-weight: bold;
}

input,
select,
button {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
}

button {
	margin-top: 10px;
	cursor: pointer;
}

.form-buttons {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

button[type="button"] {
	background-color: #f44336;
	color: white;
}

button[type="submit"] {
	background-color: #4caf50;
	color: white;
}
