.container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	/* height: 100vh; */
	padding: 50px;
	position: relative;
}

.filters-container {
	box-shadow: var(--shadow-color) 0px 1px 4px;
	height: max-content;
	width: 100%;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
}

.filters-container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.filters-container .filter {
	margin-bottom: 15px;
}

.filters-container label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.filters-container select,
.filters-container input[type="date"],
.filters-container input[type="number"] {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	border: 1px solid var(--input-border-color);
	border-radius: 4px;
}

.filters-container input[type="number"] {
	-moz-appearance: textfield;
}

.filters-container input[type="number"]::-webkit-outer-spin-button,
.filters-container input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.filters-container button {
	padding: 10px 20px;
	background-color: var(--primary-color);
	color: var(--button-text-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.filters-container button:hover {
	background-color: var(--hover-color);
}

.orders-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.orders-table th,
.orders-table td {
	padding: 12px;
	text-align: left;
	border: 1px solid #ddd;
}

.orders-table th {
	background-color: var(--table-header-bg);
	font-weight: bold;
}

.orders-table tr:nth-child(even) {
	background-color: var(--table-row-even-bg);
}

.orders-table button {
	padding: 8px 16px;
	background-color: var(--button-bg);
	color: var(--button-text-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.orders-table tr td:last-child button {
	margin: 0 5px;
	padding: 6px 12px;
	background-color: var(--button-bg);
	color: var(--button-text-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.orders-table tr td:last-child button:hover {
	background-color: var(--button-hover-bg);
}

/* Style for the credits table */
.credits-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.credits-table th,
.credits-table td {
	padding: 12px;
	text-align: left;
	border: 1px solid #ddd;
}

.credits-table th {
	background-color: var(--table-header-bg);
	font-weight: bold;
}

.credits-table tr:nth-child(even) {
	background-color: var(--table-row-even-bg);
}

.credits-table button {
	padding: 8px 16px;
	background-color: var(--button-bg);
	color: var(--button-text-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.credits-table tr td:last-child button {
	margin: 0 5px;
	padding: 6px 12px;
	background-color: var(--button-bg);
	color: var(--button-text-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.credits-table tr td:last-child button:hover {
	background-color: var(--button-hover-bg);
}

caption {
	font-weight: bold;
	font-size: 25px;
	color: var(--secondary-color);
}

/* Filtered Table */
.filtered-orders {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.filtered-orders th,
.filtered-orders td {
	padding: 12px;
	text-align: left;
	border: 1px solid #ddd;
}

.filtered-orders th {
	background-color: var(--table-header-bg);
	font-weight: bold;
}

.filtered-orders tr:nth-child(even) {
	background-color: var(--table-row-even-bg);
}

.filtered-orders button {
	padding: 8px 16px;
	background-color: var(--button-bg);
	color: var(--button-text-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.filtered-orders tr td:last-child button {
	margin: 0 5px;
	padding: 6px 12px;
	background-color: var(--button-bg);
	color: var(--button-text-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.filtered-orders tr td:last-child button:hover {
	background-color: var(--button-hover-bg);
}

.filtered-orders caption {
	font-weight: bold;
	font-size: 25px;
	margin-top: 10px;
}

/* Dashboard */
.dashboard {
	background-color: var(--primary-color);
	color: var(--button-text-color);
	padding: 20px;
	border-radius: 10px;
	box-shadow: var(--shadow-color) 0px 4px 8px;
	text-align: center;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	background-color: #f4f4f4;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	font-size: 16px;
	width: 200px;
	height: 200px;
	word-wrap: break-word;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

/* Responsive for dashboard */
@media (max-width: 768px) {
	.dashboard .stats {
		flex-direction: column;
		align-items: center;
	}

	.dashboard .stat {
		width: auto;
		margin-bottom: 15px;
	}
}

button {
	margin: 10px;
	padding: 6px 12px;
	background-color: var(--primary-color);
	color: var(--button-text-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.modal-orders,
.modal-credits {
	position: absolute;
	padding: 30px;
	background-color: white;
	border-radius: 10px;
	width: max-content;
	height: max-content;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-height: 50vh;
	overflow-y: auto;
}

.modal-orders form,
.modal-credits form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 400px;
	margin: 0 auto;
}

.modal-orders form div,
.modal-credits form div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.modal-orders form label,
.modal-credits form label {
	font-weight: bold;
	color: #333;
}

.modal-orders form input,
.modal-credits form input,
.modal-orders form select,
.modal-credits form select {
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 14px;
}

.modal-orders form input[type="text"],
.modal-credits form input[type="text"],
.modal-orders form select,
.modal-credits form select {
	width: 100%;
}
